<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/biblioteca</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">ubuntu13</property>
    <mapping class="com.santiago.biblioteca.bean.Libro"/>
    <mapping class="com.santiago.biblioteca.bean.Tipopublicacion"/>
    <mapping class="com.santiago.biblioteca.bean.Autor"/>
    <mapping class="com.santiago.biblioteca.bean.Multa"/>
    <mapping class="com.santiago.biblioteca.bean.Prestamo"/>
    <mapping class="com.santiago.biblioteca.bean.Tipousuario"/>
    <mapping class="com.santiago.biblioteca.bean.Ejemplar"/>
    <mapping class="com.santiago.biblioteca.bean.Usuario"/>
    <mapping class="com.santiago.biblioteca.bean.Publicacion"/>
    <mapping class="com.santiago.biblioteca.bean.Reserva"/>
  </session-factory>
</hibernate-configuration>
