* 
  margin 0
  padding 0
  font-family "Droid Sans", sans-serif;

body
  font-size 13px
  background-color: #fff

input[type=button], 
input[type=submit],
input[type=reset]
  font-size 11px

/*tr.over
  background-color: #eee
  cursor: pointer

tr:hover.over
  background-color: #fff
  cursor: pointer*/

/*.record_properties th
  font-size: 10px
  text-align: right
  padding-right: 10px
  padding-left: 10px
  background-color: #bcbbc6*/

.record_properties
  margin-top: 20px
  width: 100%

nav
  margin: 0 auto 0 auto
  float: left
  display: inline-block
  background-color: #eee
  border-bottom: 3px solid #00bfff
  width: 100%

nav ul
  list-style: none

nav ul li.title
  color: #ccc
  background-color: #555
  text-align: center

nav ul li.right
  float: right

nav ul li
  margin: 0
  float: left
  display: block
  border-right: 1px solid #ddd

nav ul li a,
nav ul li.title
  line-height 3em
  padding 0 1.5em 0 1.5em
  //padding: 10px 20px 10px 20px

nav ul li.title
  font-style italic
  font-weight 700

nav ul li a
  color: #282828
  display: block
  text-decoration: none

nav ul li.selected a
  font-weight: normal
  color: #fff
  background-color: #555

nav ul li a:hover
  color: #fff
  background-color: #555

header
  float: left
  display: block
  width: 100%
  padding: 30px 0 0 0

header h1
  padding-left: 40px
  font-style: italic
  color: #333

section
  float: left
  width: 100%

article
  background-color: #eee
  margin: 20px 50px
  border: 1px solid #ccc
  padding: 10px 15px 20px 15px
  border-bottom: 3px solid #00bfff

article h2
  font-weight normal
  font-style: italic
  margin: 0 0 0.5em 0
  padding: 0.5em 0 0.5em 0
  border-bottom: 1px solid #ddd

input::-webkit-input-placeholder
  font-style: italic

input[type=button]
  font-weight: bold
  color: #ccc
  background-color: #555
  border: 0
  padding: 0

#a
  font-size: 13px
  font-weight: bold
  color: #ccc
  background-color: #555
  border: 0
  padding: 7px 15px 5px 15px
  text-decoration: none

article span.success
  display: block
  padding: 5px 10px
  color: #008000
  font-style: italic
  border: 1px solid #008000
  margin: 3px 40px 20px 40px
  background-color: #cfffc9

article span.error
  display: block
  padding: 5px 10px
  color: #f00
  font-style: italic
  border: 1px solid #f00
  margin: 3px 40px 20px 40px
  background-color: #ffc9c9

article form table tbody span.error
  background-color: inherit
  border: none
  padding: 0
  margin: 0
  display: inline
  color: #f00
  font-style: italic

article
  input[type=text],
  input[type=date],
  input[type=password]
    border 1px solid gray
    line-height 2em
    padding 0 0.4em

    &.medium
      width 200px

    &.small
      width 80px

    &.large
      width 400px

  input[type=submit],
  input[type=button],
  input[type=reset],
  a.button
    font-family "Droid Sans", sans-serif
    font-weight 400
    text-decoration none
    padding 0 1em
    line-height 2.4em
    font-size 12px
    color #fff
    background-color #555
    display inline-block
    border none
    cursor pointer

  input[type=submit].a,
  input[type=reset].a,
  input[type=button].a
    background-color #777

  input[type=submit]:hover,
  input[type=button]:hover,
  input[type=reset]:hover,
  a.button:hover
    text-decoration none
    background-color #ccc
    color #333
  
  form 
    table 
      tfoot
        /*padding-top 1em*/
      tbody 
        th
          label
            cursor pointer
            font-weight normal
            display block
            line-height 2.4em
            text-align right
            padding 0 0.5em 0 0

article form#search
  margin-top: 20px

a.button:hover
  background-color #ddd
  color black

.border-right
  border-right 1px solid gray

.first-button
  border-bottom-left-radius 0.5em

.last-button
  border-top-right-radius 0.5em

a.button
  text-decoration none
  font-size 14px
  font-weight normal
  color #fff
  background-color #555
  padding 0 1.4em
  line-height 2em
  display inline-block  
  cursor pointer
  /*padding: 7px 15px 5px 15px*/

article table.list thead th
  /*border-bottom: 1px solid #ddd*/
  /*padding: 2px 10px 1px 10px*/

article table.list tbody td
  /*padding: 0 15px*/

article table td a
  /*text-decoration: none
  color: #00bfff*/

article
  table
    td
      a:hover
        text-decoration: underline

.ui-icon
  display inline-block
  float right

table.dataTable 
  thead
    th
      border-bottom none

table.dataTable
  tbody
    tr:hover
      cursor pointer
      background-color #ccc
      td.sorting_1
        background-color #ccc

div.dataTables_filter
  input[type=text]
    border 1px solid #ddd
    padding 0.2em 0.15em  

hr
  width 100%
  margin 0.5em 0
  border none
  border-bottom 1px solid #ddd